html, body{height:100%;}
body{background: url(../img/noisy-texture.png); color: #373435;}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.content{margin-top:3%;}

p{font-family: tahoma; font-size: 1.2em;}

.aviso{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding:1%;
    color:#666;
}

.address-box{font-size: 0.85em;}

.address-box address {margin: 10% 0 0 0;}

.social-icons li {display: inline-block; margin: 5% 1% 0 0;}
.social-icons li a{display:block;}

.icon-facebook{ background: url(../img/facebook-logo.png) no-repeat top left; width: 56px; height: 56px; }
.icon-linkedin{ background: url(../img/linkedin-logo.png) no-repeat top left; width: 56px; height: 56px; }
.icon-twitter{ background: url(../img/twitter-logo.png) no-repeat top left; width: 56px; height: 56px; }